.filtro-categorias {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.btn-categoria {
  background-color: #c6f3d3;
  border: none;
  border-radius: 8px;
  padding: 1px 10px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
  color: #787676;
}

.btn-categoria:hover {
  background-color: #d3ffd3;
}

.btn-categoria.ativa {
  background: linear-gradient(135deg, #01973f, #00e974);
  color: white;
  font-weight: 600;
}

.categoriacontato{
  width: 30%;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  font-size: 0.95rem;
  background-color: #fcfcfc;
  margin-bottom: 20px;
  gap: 24px;
}

