body {
  font-family: Arial, sans-serif;
  background: #f9fafb;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 600;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
}

/* ---- Cabeçalho ---- */
.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 2rem;
  font-weight: 700;

  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  /*Deixando o cabeçalho com degrade*/
  background: linear-gradient(to right, #199400, #00ff73); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .logo {
  font-size: 1.8rem;
}

.header p {
  font-size: 1.1rem;
  color: #555;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
}

/*---- Deixa o Icon alinhado ----*/
.com-icone {
  display: flex;
  align-items: center; 
  gap: 8px;            
}

.com-icone-centro {
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 8px;            
}

/* ---- responsividade ---- */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* apenas uma coluna no celular */
    gap: 30px; /* um espacinho extra entre os blocos */
  }
}

