body {
  font-family: Arial, sans-serif;
  background: #f9fafb;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 600;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
}
/*----------------------- */
.nomecontato {
  width: 30%;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  font-size: 0.95rem;
  background-color: #f7f7f7;
  margin-bottom: 20px;
  gap: 24px;
}

.numerocontato {
 width: 40%;
  padding: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  font-size: 0.95rem;
  background-color: #f7f7f7;
  margin-bottom: 20px;
  gap: 24px;
}


/* --- áreas para digitar --- */
input,
textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  background-color: #fff; 
}

textarea {
  resize: none;
  height: 80px;
}

.link-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.link-box input {
  flex: 1;
  background: #fff; 
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.form-row input {
  flex: 1;
}


/* --- botão copiar e salvar na agenda --- */
.btn-small {
  padding: 8px 12px;
  width: 95%;
  font-size: 0.85rem;
  border: 2px solid #25d366;
  background: #25d366;
  cursor: pointer;
  border-radius: 6px;
  color: #fff;
}

.btn-small:hover{
    background: #f1fff6;
  color: #199400;
  border: solid 2px #199;
}

/* --- Cabeçalho --- */
.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 2rem;
  font-weight: 700;

  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

   background: linear-gradient(to right, #199400, #00ff73);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .logo {
  font-size: 1.8rem;
}

.header p {
  font-size: 1.1rem;
  color: #555;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
}



.contacts {
  margin-top: 15px;
}

.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
}

.contato-nome {
  font-weight: 600;
}

.contato-numero {
  font-size: 0.9rem;
  color: #666;
}

.contact-actions button {
  margin-left: 6px;
  padding: 1px 3px;
  font-size: 1rem;
  border: 2px solid #25d366;
  border-radius: 6px;
  cursor: pointer;
  background: #fff;
  color: #25d366;
  font-weight: bold;
}

.contact-actions button:hover {
  background: #25d366;
  color: #fff;
  border: 2px solid #25d366;
}

.contact-actions .button-excluir {
  background: #ffffff;
  color: #ff0000;
  border: 2px solid #b80000;
  font-size: 1rem;
  font-weight: bold;
}

.contact-actions .button-excluir:hover {
  border: 2px solid #ff0000;
  color: #ffffff;
  background: #ff0000;
}


button {
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
}


.btn-green {
  background: #25d366;
  border: solid 2px #25d366;
  color: white;
  width: 100%;
  margin-top: 15px;
}

.btn-green:hover {
  background: #f1fff6;
  color: #199400;
  border: solid 2px #199400;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal-content {
  background: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  width: 360px;
  max-width: 95%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-actions button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.2s;
}

.modal-actions button:first-child {
  background: #25d366;
  color: white;
  border: solid 2px #25d366;
}

.modal-actions button:first-child:hover {
  background: #ffffff;
  color: #25d366;
  border: solid 2px #25d366;
}

.modal-actions button:last-child {
  background: #ff0000;
  color: white;
  border: solid 2px #ff0000;
}

.modal-actions button:last-child:hover {
  background: #ffffff;
  color: #ff0000;
  border: solid 2px #ff0000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*icon do telefone no input do LinkGenerator */
.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-with-icon svg {
  position: absolute;
  left: 8px;
  color: #555;
  width: 16px;
  height: 16px;
}

.input-with-icon input {
  width: 100%;
  padding-left: 32px; 
  height: 28px;       
  font-size: 14px;    
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background-color: #fcfcfc;
}

/*Deixa o Icon alinhado */
.com-icone {
  display: flex;
  align-items: center; 
  gap: 8px;            
}

.contacts {
  max-height: 250px;
  overflow-y: auto;    /* ativa a rolagem */
  padding-right: 8px;
}

.contacts::-webkit-scrollbar {
  width: 6px;
}

.contacts::-webkit-scrollbar-thumb {
  background: #40c771;
  border-radius: 4px;
}

.contacts::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* aleta de copiar*/
.copiado-msg {
  color: #25d366;
  font-size: 14px;
  margin-left: 8px;
}